<section id="blog-titles">
  {{outlet}}

  {{#each post in sortedPosts itemController="post"}}
  <h1>Blog</h1>
<div id="title">
<h2>{{posts.model.title}}</h2>
</div>

<div id="content">
  <h4>{{posts.model.content}}</h4>
</div>


</section>
