<input type="text" id="blog-search" placeholder="Blog Title Search" />

<section id="main">
  <ul id="blog-list">
    {{#each post in model}}
      <li class="completed">
        <h2>{{posts.title}}</h2>
        <p>{{posts.content}}</p>
        <button class="destroy">X</button>
      </li>
    {{/each}}
  </ul>
</section>

<footer id="footer">
  <span id="blog-count">
    <strong>2</strong> Blog Count
  </span>
  <!-- <ul id="filters">
    <li>
      <a href="Popular">Popular</a>
    </li>
    <li>
      <a href="Recent">Recent</a>
    </li>
    <li>
      <a href="Oldest">Oldest</a>
    </li>
  </ul> -->
</footer>
